{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн Курсы</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Онлайн Курсы</h1>
        </div>
    </header>
    <section id="showcase">
        <div class="container">
            <h1>Добро пожаловать на наши курсы, {{ author.email | lower}}</h1>
        </div>
        <div class="container">
            <h1><a href="{% url 'mainapp:send_form' %}">Отправить сообщение</a></h1>
        </div>
    </section>
    <div class="container">
        {% for post in object_list %}
        <div class="course">
            <img src="{% static 'mainapp/img/images.png' %}" alt="Курс 1">
            <h3>{{ post.title }}</h3>
            <p>Описание курса 1. {{ post.content }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>