{% extends 'posts/base.html' %}
{% load static %}
{% block title %}Список постов{% endblock %}

{% block content %}
    <main>
        <form method="get">
            {{ title_filter_form }}
            <input type="submit" value="Search">
        </form>
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url 'posts:post-detail' post.pk %}">{{ post.title }}</a> by {{ post.author }} on {{ post.created_at }}
            
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}


